<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="border-bottom: solid 1px rgba(0,0,0,0.1)">
  <%= link_to "#", class: "navbar-brand" do %>
    <div class="logobar">
      <svg width="14vw" height="7vh" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="35" cy="35" r="35" fill="#BB5BEC"/>
        <path d="M50.3974 43.9526C52.9735 51.282 46.5023 70 35.1018 70C23.7012 70 19.04 52.1494 19.04 43.9526C19.04 35.7558 33.6793 13.44 42.3462 13.44C40.2274 23.1147 47.8213 36.6233 50.3974 43.9526Z" fill="#FEFFFE"/>
        <path d="M50.3974 43.9526C52.9735 51.282 46.5023 70 35.1018 70C23.7012 70 19.04 52.1494 19.04 43.9526C19.04 35.7558 33.6793 13.44 42.3462 13.44C40.2274 23.1147 47.8213 36.6233 50.3974 43.9526Z" fill="#FEFFFE"/>
        <path d="M47.1558 44.6342C49.1896 50.9839 44.0808 67.2 35.0803 67.2C26.0799 67.2 22.4 51.7354 22.4 44.6342C22.4 37.533 33.9573 18.2 40.7996 18.2C39.1269 26.5816 45.1221 38.2845 47.1558 44.6342Z" fill="#61ED38"/>
        <path d="M47.1558 44.6342C49.1896 50.9839 44.0808 67.2 35.0803 67.2C26.0799 67.2 22.4 51.7354 22.4 44.6342C22.4 37.533 33.9573 18.2 40.7996 18.2C39.1269 26.5816 45.1221 38.2845 47.1558 44.6342Z" fill="#61ED38"/>
      </svg>
      <h2 class="navtitle">VeggieRun</h2>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div style="display:flex;justify-content:space-between;">
      <div>
        <svg width="18" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:5px;">
        <line y1="5" x2="18" y2="5" stroke="#BB5BEC" stroke-width="2"/>
        <line y1="10" x2="18" y2="10" stroke="#BB5BEC" stroke-width="2"/>
        <line y1="15" x2="18" y2="15" stroke="#BB5BEC" stroke-width="2"/>
        <!-- <line y1="-1" x2="18" y2="12" transform="matrix(1 0 0 -1 0 13)" stroke="black" stroke-width="2"/> -->
        </svg>
      </div>
      <div class="menu">
        Menu
      </div>
    </div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm" style="height:50px;">
      <div class="flexy">
        <div class="user_location">
          <%= image_tag('pin.png', class: "pin_icon") %>
          <%= @little_address %>
        </div>
        <%= link_to "Change Location", root_path, class: "change_location" %>
      </div>
    </div>
  </div>

  <div class="search-form">
    <%= form_tag restaurants_path, method: :get do %>
      <div class="display-flex">
        <div class="flex">
          <div class="parent_stick">
            <%= text_field_tag :query, params[:query], class: "rest-search", placeholder: "Find a meal" %>
            <% if params[:query] %>
              <%= hidden_field_tag :address, params[:address], value: params[:address] %>
            <% else %>
              <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
            <% end %>
            <%= hidden_field_tag :query2, params[:query2], value: params[:query2] %>
          </div>
          <div class="stick">
            <%= button_tag(type: "submit", class: "sherlock-search") do %>
              <i class='fas fa-search'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-12 cardsdis">

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'pizza' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="pizza-select-card">
            <div class="little-card-text">
              Pizza
            </div>
          </div>
        <% end %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'vegan' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="vegan-select-card">
            <div class="little-card-text">
              Vegan
            </div>
          </div>
        <% end %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'burger' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="burger-select-card">
            <div class="little-card-text">
              Burger
            </div>
          </div>
        <% end %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'curry' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="curry-select-card">
            <div class="little-card-text">
              Curry
            </div>
          </div>
        <% end %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'dessert' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="dessert-select-card">
            <div class="little-card-text">
              Dessert
            </div>
          </div>
        <% end %>
      <% end %>

      <%= form_tag restaurants_path, method: :get do %>
        <%= hidden_field_tag :query2, params[:query2], value: 'veggie' %>
        <%= hidden_field_tag :query, params[:query], value: params[:query] %>
        <% if params[:query] %>
          <%= hidden_field_tag :address, params[:address], value: params[:address] %>
        <% else %>
          <%= hidden_field_tag :address, params[:address], value: params[:restaurant][:address] %>
        <% end %>
        <%= button_tag(type: "submit", class: "panel") do %>
          <div class="selectcard" id="veggie-select-card">
            <div class="little-card-text">
              Veggie
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



  <div class="restaurant_cards">
    <% @selections.each do |selection| %>
      <%= selection.name %>
      <%= selection.cuisine %>
      <p>Vegan: <%= selection.vegan %></p>
      <br>
    <% end %>
  </div>
</div>












