
<%= render 'shared/navbar' %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <%#= @restaurant.photo.each do |photo| %>
      <div class="carousel-item active">
        <%= image_tag("#{@restaurant.photo}", class: "show_pg_photo") %>
      </div>
    <%# end %>
  </div>
    <!-- if photo.count > 1 do this, else dont
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>

<div class="second_part_show container">
  <div class="show_firstrow">
    <h3 class="show_title"><%= @restaurant.name %> </h3>
  </div>

  <div class="show_secondrow">
    <p> <%= @restaurant.cuisine %>
    - <%= @restaurant.vegan %></p>
  </div>

  <div class="show_thirdrow">
    <h5 class="about_title">About</h5>
    <%= @restaurant.bio %>
  </div>
</div>

<div class="bg_space">
  <div class="show_fourthrow container">
    <h3 style="margin-bottom:0px;padding-top:10px;text-align:center;">Menu</h3>
  </div>

  <div class="meal-title container">
    <h4>Starters</h4>
  </div>

  <% @starters.each do |item| %>
    <div class="container">
      <div class="card-product">
        <%= image_tag('928-Simple-King-Prawn-Garlic--Chilli-Linguine.2-x750.jpg', class: "dish_image") %>
        <div class="card-product-infos">
           <div class="price-align" style="display:flex;justify-content:space-between;">
            <h6><%= item.dish_name %></h6>
            <p> £<%= item.price %>.00 </p>
          </div>
          <p><%= item.description %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="meal-title container">
    <h4>Mains</h4>
  </div>

  <% @mains.each do |item| %>
    <div class="container">
      <div class="card-product">
        <%= image_tag('928-Simple-King-Prawn-Garlic--Chilli-Linguine.2-x750.jpg', class: "dish_image") %>
        <div class="card-product-infos">
           <div class="price-align" style="display:flex;justify-content:space-between;">
            <h6><%= item.dish_name %></h6>
            <p> £<%= item.price %>.00 </p>
          </div>
          <p><%= item.description %></p>
        </div>
      </div>
    </div>
  <% end %>


  <div class="meal-title container">
    <h4>Desserts</h4>
  </div>

  <% @desserts.each do |item| %>
    <div class="container">
      <div class="card-product">
        <%= image_tag('928-Simple-King-Prawn-Garlic--Chilli-Linguine.2-x750.jpg', class: "dish_image") %>
        <div class="card-product-infos">
          <div class="price-align" style="display:flex;justify-content:space-between;">
            <h6><%= item.dish_name %></h6>
            <p> £<%= item.price %>.00 </p>
          </div>
          <p><%= item.description %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>


<div class="footer container">
  <button class="btn btn-primary buttone" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fas fa-shopping-basket"></i>
    View current basket
    £0.00
  </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div>

















