
<%= render 'shared/navbar' %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <%#= @restaurant.photo.each do |photo| %>
      <div class="carousel-item active">
        <%= image_tag("#{@restaurant.photo}", class: "show_pg_photo") %>
      </div>
    <%# end %>
  </div>
    <!-- if photo.count > 1 do this, else dont
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
</div>

<div class="second_part_show container">
  <div class="show_firstrow">
    <h3 class="show_title"><%= @restaurant.name %> </h3>
  </div>

  <div class="show_secondrow">
    <p> <%= @restaurant.cuisine %>
    - <%= @restaurant.vegan %></p>
  </div>

  <div class="show_thirdrow">
    <h5 class="about_title">About</h5>
    <%= @restaurant.bio %>
  </div>

  <div class="show_fourthrow">
    <h5>Menu</h5>
  </div>
</div>

<% @items.each do |item| %>
  <div class="bg_space">
    <div class="container">
      <div class="card-product">
        <img src="" />
        <div class="card-product-infos">
          <h2><%= item.dish_name %></h2>
          <p><%= item.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>





















